<div class="case-container" *ngIf="gameService.game.status ==='playing'">
  <div
    class="draw-table"
    *ngIf="gameService.game.currentPlayer.id === playerService.player.id"
  >
    <app-drawing-table></app-drawing-table>
  </div>
  <ng-container
    *ngIf="gameService.game.currentPlayer.id !== playerService.player.id"
  >
    <img class="img" [src]="drawingService.drawedImg" alt="" />
  </ng-container>
</div>

<div class="case-container" *ngIf="gameService.game.status ==='inactive'">
  <div *ngIf="playerService.player.id === roomService.currentRoom.owner.id">
    <button (click)="startGame()" class="btn btn-success">Start Game</button>
  </div>
  <div *ngIf="playerService.player.id !== roomService.currentRoom.owner.id">
    <h2>Waiting for the game start...</h2>
  </div>
</div>

<div class="case-container" *ngIf="gameService.game.status ==='roundBreak'">
  <div *ngIf="playerService.player.id !== gameService.game.currentPlayer.id">
    <h2>
      Round Break. Drawing will start in {{gameService.game.breakTime }}
      seconds...
    </h2>
  </div>
  <div *ngIf="playerService.player.id === gameService.game.currentPlayer.id">
    <h2>{{gameService.game.word}}</h2>
    <div>
      Tell {{gameService.game.word}} other players by drawing in 100 seconds.
    </div>
    <div>Round will start in {{gameService.game.breakTime }} seconds...</div>
  </div>
</div>

<div class="case-container" *ngIf="gameService.game.status ==='end' ">
  <h2>Game end.</h2>
  <div>
    <button (click)="playAgain()" class="btn btn-success">Play Again</button>
  </div>
  <div>
    <button (click)="leave()" class="btn btn-secondary">Leave</button>
  </div>
</div>
