<main class="my-container">
  <div class="rooms-container">
    <div
      class="room"
      *ngFor="let room of (roomService.rooms | async)"
      (click)="joinRoom(room)"
    >
      <span class="room-name"> {{room.name}} </span>
      <span class="lock lock-icon" *ngIf="room.hasPassword"> </span>
    </div>
    <!-- <div *ngIf="!roomService.rooms.value">Aktif Oyun Yok!</div> -->
  </div>
  <button class="btn btn-md btn-success create-button" (click)="createRoom()">
    Yeni Oda Oluştur
  </button>
</main>
