.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #6495ed;
}

.rooms-container {
  width: 400px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.room {
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  min-height: 100px;
  cursor: pointer;
  transition: 0.2s;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}

.room:hover {
  transition: 0.4s;
  transform: translateY(-4px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.8);
}

.room:first-child {
  margin-top: 10px;
}

.room-name {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.create-button {
  width: 400px;
  margin-top: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}

.lock {
  width: 24px;
  height: 24px;
}
