.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.top {
  flex: 0.6;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  overflow: hidden;
}

.players-messages {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.players {
  width: 30%;
  min-width: 130px;
  height: 100%;
  overflow: auto;
}

.player {
  margin: 5px 0 5px 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
}

.player-picture {
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  margin-right: 10px;
  margin-left: 5px;
}

.messages {
  width: 70%;
  padding: 5px 0 0 5px;
  height: 100%;
  max-height: 100%;
}
